// Colors
$global-blue: #065ce3;
$global-light-blue: #2d7bf7;
$global-light-purple: #4A4C80;
$global-light-pink: #FFE8E8;
$global-ligth-gray: #EEF1F8;
$global-white: rgba(255, 255, 255, 1);
$global-dark-gray: #222222;
$global-meat-brown: #F36C3D;
$global-live-red: #BF3030;
$global-pastel-orange: #f2a346;
$global-saturn-pastel-orange: #E38D06;
$global-taupe: rgba(51, 51, 51, 1);
$global-taupe-polygon: rgba(51, 51, 51, 1);
// $global-taupe-polygon: #2b3747;
$global-dim-gray: #919191;
$global-light-dim-gray: #EEF1F8;
$global-dark-dim-gray: #2D2D2D;
$global-dark-jungle-green: rgba(25, 25, 25, 1);

$global-vk: #506f9b;
$global-fa: #435897;
$global-tw: #5c9eff;
$global-te: #34ADE1;
$global-sk: #2d7bf7;
$global-ok: #EE8208;
$global-wh: #26d367;
$global-pi: #CB2029;

// Size
$global-view-port: 1200px;
$global-view-port-2: 1000px;
$global-view-port-3: 100%;
