@import '../partials/params.scss';
@import '../partials/mixins.scss';

#show-video {
    background-color: gray;
}

.show-video-box {
    &__content {

    }

    &__main-title-box {

        h2 {

        }
    }

    &__video-container {

    }

    &__video-list-row {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__video-item {
        background-color: purple;
        &:nth-child(1) {
            background-color: orange;
        }
        &:nth-child(2) {
            background-color: skyblue;
        }
        &:nth-child(3) {
            background-color: pink;
        }
    }
}
