@import '../partials/params.scss';
@import '../partials/mixins.scss';

#form {
    width: 100%;
    background-color: $global-light-purple;
    padding-top: 50px;
    padding-bottom: 50px;
}

form {
    input[name="uploaded"] {
        opacity: .4;
        cursor: default;
    }

    input[name="ListInfo[uploaded]"] {
        opacity: .4;
        cursor: default;
    }
}

.video-uploading-form {
    width: auto;
    margin: 0 auto;
    // justify-items: center;
    display: grid;
    padding-bottom: 20px;
    grid-gap: 20px;
    grid-template-columns: 300px 300px;
    grid-template-rows: repeat(4, 125px);
    border: 2px solid white;
    &__input-box {

    }

    &__input-box--name {
        background-color: orange;
        // grid-column: 1 / 2;
        // grid-row: 1 / 2;
    }
    &__input-box--email {
        background-color: red;
    }
    &__input-box--phone {
        background-color: pink;
    }
    &__input-box--linkUploaded {
        background-color: gold;
    }
    &__input-box--uploaded {
        background-color: aqua;
    }
    &__input-box--description {
        background-color: violet;
    }

    &__submit {
        border: 0;
        outline: none;
        background-color: purple;
    }
}
