@keyframes p-s-open-go4 {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes p-s-open-go3 {
    from {opacity: 0; transform: translateX(60px)}
    to {opacity: 1; transform: translateX(0)}
}
@keyframes p-s-open-go2 {
    from {opacity: 0; transform: translateY(60px)}
    to {opacity: 1; transform: translateY(0)}
}
@keyframes p-s-open-go {
    from {opacity: 0; transform: translateX(-60px)}
    to {opacity: 1; transform: translateX(0)}
}
@keyframes p-s-close-go {
    from {opacity: 1;}
    to {opacity: 0;}
}

.popup-open {
    animation: p-s-open-go2 .4s ease-out;
}
.popup-close {
    animation: p-s-close-go .3s ease-out;
}

.popup-title {
    opacity: 0;
    animation: p-s-open-go .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .2s;
    margin-bottom: 20px;
}

.popup-desc {
    opacity: 0;
    animation: p-s-open-go3 .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .25s;
}

.popup-share {
    opacity: 0;
    animation: p-s-open-go2 .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .35s;
}

.popup-video {
    opacity: 0;
    animation: p-s-open-go4 .4s ease-out;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  transform: scale(0.1) rotate(550deg);
}

.video-uploading-form__submit {
    outline: none;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}
