@import './partials/mixins.scss';
@import './partials/params.scss';
@import './partials/animations.scss';
@import './common_sections/showVideoSection.scss';

// body {
//     @include clear;
//     position: relative;
//     box-sizing: border-box;
//     width: 100%;
//     // font-family: 'Rubik', sans-serif;
//     // font-family: 'Ubuntu', sans-serif;
// }
//
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//     @include clear;
// }
//
// ul {
//     @include clear-list;
// }
//
// a {
//     text-decoration: none;
// }

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $global-ligth-gray;
    width: 100%;
    height: 100vh;
    // overflow: hidden;
}

.view-port {
    max-width: $global-view-port;
    margin: 0 auto;
}

.view-port-2 {
    max-width: $global-view-port-2;
    margin: 0 auto;
}

.view-port-3 {
    max-width: $global-view-port-3;
    margin: 0 auto;
}

.main {
    position: relative;
    padding-bottom: 40px;
}
