@charset "utf-8";
/*siteed*/

*{-webkit-box-sizing:border-box;box-sizing:border-box}
html,body{font-family:'Etelka','Exo 2',sans-serif}
.headWrap{height:100vh;position:relative;width:100%;background-image:url(../ng-bg-min.jpg);background-size:100% auto;background-position:top;background-attachment:fixed;overflow:hidden;-webkit-box-shadow:0 16px 16px #ffe8e8 inset,0 -128px 96px #ffe8e8 inset;box-shadow:0 16px 16px #ffe8e8 inset,0 -128px 96px #ffe8e8 inset}
body{overflow-x:hidden}
.headWrap canvas.snow,.headWrap canvas.flare,.headWrap canvas.flareB{position:absolute;top:50%;left:50%;width:150%;height:150%;z-index:1;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}

.headWrap canvas.flare {transform:translate(-50%,-50%) rotate(180deg)}

#logo{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:720px;max-width:calc(100% - 96px);z-index:5;min-height:400px}
#logo a{width:100%;height:100%;background-image:url(../ogonek-min.png);display:block;position:absolute;top:0;left:0;background-size:100% auto;background-position:center;background-repeat:no-repeat}
.navWrap{height:100%;position:relative}
#logo svg#topLogo{background-image:url(../ogonek-min.png);background-size:100% auto}
.headWrap .background{content:'';background:url(../ng-bg-min.jpg);width:100%;height:150%;top:0;left:0;display:block;z-index:0;position:absolute;background-size:cover;-webkit-filter:saturate(1.5);filter:saturate(1.5)}
.headWrap .background:before{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:999;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAD0lEQVQImWNgYGD4z4AMAA4EAQAvGW0PAAAAAElFTkSuQmCC);opacity:.5}
.headWrap:before{content:'';display:block;height:128px;width:100%;position:absolute;top:0;left:0;z-index:3}
svg#topLogo path{fill:#069;stroke-width:1;stroke:#069;stroke-dasharray:2000px;stroke-dashoffset:2000px}
@-webkit-keyframes StrokeIt {
40%{stroke-dashoffset:4000px}
60%{stroke-dashoffset:4000px}
100%{stroke-dashoffset:6000px}
}
@keyframes StrokeIt {
40%{stroke-dashoffset:4000px}
60%{stroke-dashoffset:4000px}
100%{stroke-dashoffset:6000px}
}
#about{background-color:#ffe8e8;padding:96px 0}
.thenav{width:100%;height:80px;position:relative;background-size:100% auto;background-position:center;background-color:rgba(255,50,70,.75);-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;margin:-80px 0 0;z-index:999;-webkit-box-shadow:0 -3px 6px rgba(0,0,0,0.35);box-shadow:0 -3px 6px rgba(0,0,0,0.35)}
.thenav nav{display:block;position:relative;margin:0 auto;height:80px;max-width:1200px}
.thenav.fxd{position:fixed;width:100%;top:0;left:0;z-index:999;margin:0;background-color:#e66000;-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.35);box-shadow:0 3px 6px rgba(0,0,0,0.35)}
.thenav #navLogo{display:block;position:absolute;left:16px;top:50%;width:160px;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;height:60px;opacity:0;z-index:999}
.thenav.fxd #navLogo{opacity:1;-webkit-transition:all .25s ease-in-out .25s;-o-transition:all .25s ease-in-out .25s;transition:all .25s ease-in-out .25s;width:160px;height:54px}
.thenav.fxd #navLogo path{fill:#ffe8e8}
.info{border-radius:6px;display:block;font-size:18px;padding:2rem;background-color:#fff;height:100%;-webkit-box-shadow:0 1px 1px #8488b7;box-shadow:0 1px 1px #8488b7;background:#fff;font-family:'Exo 2';font-weight:400}
.icn{width:100%;height:256px;position:relative;margin:0 auto 1em;border-radius:0;background-color:#1d2364;-webkit-box-shadow:0 3px 6px rgba(0,0,0,.15),0 -3px 6px rgba(0,0,0,0.15),0 -6px 12px rgba(0,0,0,0.25) inset;box-shadow:0 3px 6px rgba(0,0,0,.15),0 -3px 6px rgba(0,0,0,0.15),0 -6px 12px rgba(0,0,0,0.25) inset;overflow:hidden}
.icn:before,.icn:after{width:256px;height:256px;display:block;content:'';position:absolute;background-color:rgba(255,238,238,.25);border-radius:50%;-webkit-transition:all 1s ease-in-out .5s;-o-transition:all 1s ease-in-out .5s;transition:all 1s ease-in-out .5s;-webkit-transform:translate(0,100%);-ms-transform:translate(0,100%);transform:translate(0,100%)}
.live .icn:before,.live .icn:after{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.icn:before{top:-128px;left:-128px;background-color:rgba(11,214,208,.75);-webkit-animation:10s MoveDown linear infinite;animation:10s MoveDown linear infinite}
@-webkit-keyframes MoveDown {
50%{top:128px}
}
@keyframes MoveDown {
50%{top:128px}
}
.icn:after{bottom:-128px;-webkit-animation:10s MoveUp linear infinite;animation:10s MoveUp linear infinite;right:-128px;background-color:rgba(233,94,13,1);z-index:0}
@-webkit-keyframes MoveUp {
50%{bottom:128px}
}
@keyframes MoveUp {
50%{bottom:128px}
}
.icn svg{display:block;max-width:80%;height:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);max-height:80%;z-index:1}
.icn svg path{fill:rgba(255,238,238,.75);stroke:#fee;stroke-width:2;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.container{max-width:1300px}
.socialFooter{display:block;width:100%;text-align:center;padding:1rem 0}
.socialFooter a{display:inline-block;margin:0 1rem}
.socialFooter a:hover{text-decoration:none}
.footer{background-color:#051525;color:rgba(255,255,255,0.5);padding:2rem 0;font-size:.85rem;font-weight:300}
.footer a{color:#fee}
section#form{background-image:url(../ng-bg-min.jpg);background-size:cover;background-attachment:fixed;padding:3rem 0}
.formX form.video-uploading-form{display:block;padding:3rem;background-color:#dc4664;width:100%;max-width:960px;margin:auto;border-radius:16px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);box-shadow:0 1px 3px rgba(0,0,0,0.25)}
.formX .formRow{position:relative;padding:.5rem 0;width:100%;min-height:64px;padding:0;margin:0 auto}
.formX .formRow.commentX{min-height:128px}
.formX .video-uploading-form__label{display:block;position:absolute;top:50%;left:0;text-transform:uppercase;color:#fee;font-weight:300;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);line-height:1em}
.formX input[type="text"],.formX input[type="tel"]{display:block;position:absolute;right:0;height:48px;width:calc(100% - 140px);top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);border:1px solid rgba(0,0,0,0);background-color:rgba(255,238,238,0.75);border-radius:6px;color:#dc4664;padding:0 1em!important;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.formX textarea{min-height:96px;background:#fed;border:1px solid #fee;background-color:rgba(255,238,238,0.75);border-radius:6px;color:#dc4664;padding:0 1em!important;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;margin:0 auto;display:block;right:0;padding:1rem!important;top:50%;-webkit-transform:translate(0,-50%)!important;-ms-transform:translate(0,-50%)!important;transform:translate(0,-50%)!important;width:calc(100% - 140px)}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{background-color:rgba(255,238,238,0.75);color:#dc4664}
.formX input[type="text"]:focus,.formX input[type="tel"]:focus,.formX textarea:focus,.formX input[type="text"]:hover,.formX input[type="tel"]:hover,.formX textarea:hover{background-color:#fff;border-color:#fff;-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.25);box-shadow:0 3px 6px rgba(0,0,0,0.25)}
.formX ::-webkit-input-placeholder{color:#dc4664;padding:.5em 0;display:block}
.formX ::-moz-placeholder{color:#dc4664;padding:.5em 0;display:block}
.formX :-ms-input-placeholder{color:#dc4664;padding:.5em 0;display:block}
.formX :-moz-placeholder{color:#dc4664;padding:.5em 0;display:block}
.formX #drag-and-drop-zone{text-align:center;display:block;font-size:1rem;background:rgba(255,238,238,.75);border-radius:6px;padding:2rem;border:4px dashed #eb6666;margin:32px 0 auto;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;color:#dc4664;margin:1rem auto}
.formX #drag-and-drop-zone:hover{background-color:#fff}
.formX #drag-and-drop-zone .btn-block{text-align:center;cursor:pointer!important}
.formX #drag-and-drop-zone .btn-primary{background-color:#dc4664;border:0 none;border-radius:64px;max-width:320px;height:48px;line-height:48px;padding:0;font-weight:300;text-transform:uppercase;color:rgba(255,255,255,0.75);position:relative;margin:0 auto;cursor:pointer!important;display:block}
.formX #drag-and-drop-zone .btn-primary:hover{background-color:#c83250;cursor:pointer}
.formX .video-uploading-form__submit{border:3px solid;color:rgba(255,238,238,.75);background-color:#dc4664;height:48px;line-height:42px;font-weight:300;padding:0 2em;text-transform:uppercase;border-radius:48px;cursor:pointer;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;position:absolute;right:0;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%)}
.formX .video-uploading-form__submit:hover{color:#c84664;-webkit-box-shadow:0 48px 24px rgba(255,220,220) inset,0 1px 3px rgba(0,0,0,0.25),0 3px 32px rgba(255,255,255,0.5);box-shadow:0 48px 24px rgba(255,220,220) inset,0 1px 3px rgba(0,0,0,0.25),0 3px 32px rgba(255,255,255,0.5)}
.filesX li.media{display:block;background-color:rgba(255,255,255,0);padding:1rem;border-radius:6px;border:1px solid rgba(255,238,238,.5);background-color:rgba(255,238,238,1);color:#dc4664;font-weight:300}
.filesX li.media .bg-success{background-color:#dc4664!important}
.filesX li.media .text-success{text-transform:lowercase;color:#dc4664!important}
.filesX .empty{color:rgba(255,255,255,0.5);font-weight:300;text-align:center}
:focus,:active{outline:none;-webkit-outline:none}
.video-uploading-form .alert{background:#ffc;display:block;position:absolute;height:auto;width:100%;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;color:#dc4664;border:0 none;opacity:0;-webkit-animation:3s Error forwards;animation:3s Error forwards;right:0;width:calc(100% - 140px)}
.video-uploading-form .alert:hover,.video-uploading-form .alert:focus{opacity:0;visibility:hidden;-webkit-transition:0 none;-o-transition:0 none;transition:0 none}
@-webkit-keyframes Error {
10%{opacity:1;color:##dc4664;background:#ffc}
25%{opacity:1;color:#ffc;background:#d22}
45%{opacity:1;color:#ffc;background:#d22}
60%{opacity:1;color:##dc4664;background:#ffc}
80%{opacity:1}
}
@keyframes Error {
10%{opacity:1;color:##dc4664;background:#ffc}
25%{opacity:1;color:#ffc;background:#d22}
45%{opacity:1;color:#ffc;background:#d22}
60%{opacity:1;color:##dc4664;background:#ffc}
80%{opacity:1}
}
.m-overlay{position:fixed;background:rgba(0,0,0,0.75);top:0;left:0;min-width:100%;min-height:100%;z-index:999;-webkit-transition:all .3s ease-in-out .1s;-o-transition:all .3s ease-in-out .1s;transition:all .3s ease-in-out .1s}
.m-overlay h5{position:absolute;text-align:center;background:transparent;max-width:480px;font-size:1.3em;-webkit-box-sizing:border-box;box-sizing:border-box;padding:48px 16px;line-height:1.5em;top:50%;left:50%;-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);font-family:'Exo 2';color:#fff;width:50vmax;height:auto;background-color:#dc4664;border-radius:6px;-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.35);box-shadow:0 3px 6px rgba(0,0,0,0.35)}
.m-overlay h5 i{display:block;position:absolute;top:8px;right:8px;width:32px;height:32px;background:transparent;cursor:pinter;z-index:12}
.m-overlay h5 i:hover{cursor:pointer}
.m-overlay h5 i:before,.m-overlay h5 i:after{content:"";height:2px;width:32px;position:absolute;top:14px;background:#fee;left:0;display:block}
.m-overlay h5 i:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.m-overlay h5 i:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
ul.topMenu{display:block;padding:0 180px;text-align:center;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;height:80px;line-height:80px;margin:0}
.topMenu li{display:inline-block}
.topMenu li a{text-transform:uppercase;display:block;width:100%;height:100%;padding:0 1rem;color:#fee;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.topMenu li a:hover,.topMenu li a:focus,.topMenu li a:active{color:#fff;text-shadow:0 1px 3px rgba(0,0,0,0.5),0 0 12px rgba(255,255,255,0.5);text-decoration:none;-webkit-box-shadow:0 -80px 0 rgba(255,255,255,.1) inset;box-shadow:0 -80px 0 rgba(255,255,255,.1) inset}
section{display:block}
input#expand{position:fixed;left:-10000px;display:block}
label#expand-button{display:none;height:64px;width:64px;overflow:hidden;text-indent:-10000px;position:absolute;top:8px;right:15px;cursor:pointer;z-index:99999;background-color:transparent}
label#expand-button u{background:#fee;display:block;width:48px;height:4px;position:absolute;z-index:99999;left:8px;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;border-radius:4px}
label#expand-button:hover u{background:rgba(170,)}
label#expand-button u:nth-of-type(1){top:16px}
label#expand-button u:nth-of-type(2){top:28px}
label#expand-button u:nth-of-type(3){top:40px}
nav input[type=checkbox]:checked+label#expand-button u:nth-of-type(1){top:26px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center;background-color:#ffc}
nav input[type=checkbox]:checked+label#expand-button u:nth-of-type(2){top:26px;width:0}
nav input[type=checkbox]:checked+label#expand-button u:nth-of-type(3){top:26px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center;background-color:#ffc}
@media (max-width:1080px) {
.thenav #navLogo{left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.thenav{margin:0;position:fixed;top:0;left:0}
.thenav #navLogo{opacity:1;-webkit-transition:all .25s ease-in-out .25s;-o-transition:all .25s ease-in-out .25s;transition:all .25s ease-in-out .25s;width:160px;height:54px}
.thenav #navLogo svg path{fill:rgba(255,238,238,.5)}
nav ul.topMenu{visibility:hidden;opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);right:0;top:80px;right:0;background-color:rgba(255,255,255,.75);width:180px;-webkit-box-shadow:0 3px 3px rgba(0,0,0,.5);box-shadow:0 3px 3px rgba(0,0,0,.5);z-index:990;height:0;width:100%;position:absolute;padding:0!important}
label#expand-button{display:block}
nav input[type=checkbox]:checked~#logo .icnPath,nav input[type=checkbox]:checked~#logo .icnPath path{fill:#513e86}
nav input[type=checkbox]:checked~ul{visibility:visible;opacity:1;background:#dc4664;overflow:hidden;width:100%;height:auto;margin:0;text-align:center;padding:1em;top:0;padding:80px 0 0!important}
nav ul.topMenu li{visibility:hidden;display:block;width:100%}
nav ul.letsBeFriends{-webkit-transition:none!important;-o-transition:none!important;transition:none!important;visibility:hidden}
nav ul.topMenu li.socialLinks{-webkit-transition:0 none!important;-webkit-transition:none!important;-o-transition:none!important;transition:none!important}
nav input[type=checkbox]:checked~ul li{visibility:visible}
nav input[type=checkbox]:checked~ul>li{display:block;margin:0 AUTO;width:100%;position:RELATIVE;transform:NONE;overflow:HIDDEN;top:AUTO;max-width:100%;left:AUTO;-webkit-transition:none;-o-transition:none;transition:none}
nav input[type=checkbox]:checked~ul li.moskva24 a{text-align:center;margin:auto}
ul.topMenu li a{display:inline-block;width:auto}
}
section h2{text-align:center;width:100%;padding:1rem 0;text-transform:uppercase}
section#form h2{color:#ffdcdc;text-shadow:0 1px 3px rgba(0,0,0,0.35)}
.userAgreement{position:absolute;width:calc(100% - 180px);height:100%}
.userAgreement p{color:#fee;font-weight:200;padding:0;display:block;left:32px;top:50%;position:absolute;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);font-size:.85rem}
.userAgreement input#ToS{display:block;position:fixed;left:-100000px}
.userAgreement input#ToS + label{display:block;width:24px;height:24px;border:3px solid rgba(255,238,238,.5);border-radius:3px;position:absolute;left:0;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer}
.userAgreement input#ToS + label:before{display:block;height:16px;width:32px;content:'';border-style:solid;border-width:0 0 4px 4px;position:absolute;bottom:0;left:50%;-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;margin:0 0 0 -2px;-webkit-transform:rotate(305deg) scale(1);-ms-transform:rotate(305deg) scale(1);transform:rotate(305deg) scale(1);border-color:#ffc8c8;-webkit-box-shadow:-2px 2px 1px rgba(0,0,0,0.15);box-shadow:-2px 2px 1px rgba(0,0,0,0.15);opacity:0;-webkit-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;height:0;width:0}
.userAgreement input#ToS:checked + label{border-color:rgba(0,0,0,0.15)}
.userAgreement input#ToS:checked + label:before{opacity:1;-webkit-transform:rotate(305deg) scale(1);-ms-transform:rotate(305deg) scale(1);transform:rotate(305deg) scale(1);height:16px;width:32px}
.userAgreement a{color:#fcc;font-weight:500;border-bottom:1px solid}
@media (max-width:640px) {
.headWrap canvas.flare,.headWrap canvas.snow{display:none}
html,body{font-size:16px}
.formX .formRow{padding:0 0 8px}
.formX input[type="text"],.formX input[type="tel"],.formX .video-uploading-form__label,.formX textarea,.formX .userAgreement,.formX .video-uploading-form__submit{position:relative;right:auto;margin:0 auto;width:100%;max-width:100%;-webkit-transform:translate(0,0)!important;-ms-transform:translate(0,0)!important;transform:translate(0,0)!important;top:auto;left:auto}
.formX .userAgreement{overflow:hidden;height:auto;min-height:48px;margin:0 0 16px}
.formX input[type="text"],.formX input[type="tel"],.formX textarea{margin:0 auto 16px;-webkit-transform:translate(0,0)!important;-ms-transform:translate(0,0)!important;transform:translate(0,0)!important;position:relative;top:auto;left:auto}
.formX form.video-uploading-form,.info{padding:2rem 1rem;font-size:14px}
}
#videos {padding:2rem 0}
#videos .entry {

}

#videos {padding:64px 0;background-color: #1d2364;background-image: url(../ptrn-w.svg);background-size: 300px;background-repeat: repeat;background-attachment: fixed;box-shadow: 0 6px 12px rgba(0,0,0,0.25) inset,0 -6px 12px rgba(0,0,0,0.25) inset;}
#videos .entry {

}

#videos h2 {color:#fff}
#videos .entry a {color:rgba(255,255,255,0.75);
display:block;
  padding:16px;
    overflow:hidden;
  border-radius:6px;
  box-shadow:0 3px 6px rgba(0,0,0,0.35);
  background-color: #044c82;
  transition:all .3s ease-in-out
}

#videos .entry a:hover {
  background-color:#e56008;
  text-decoration:none;
  color:#fff;
}

#videos .entry .c-info {
  display:block;
  font-size:1.1em;
  font-weight:400;
}
#videos .entry span {display:block}
#videos .entry .c-img {
  max-width:100%;
  display:block;
  border-radius:6px;
  position:relative;

}

#videos .entry .c-img img  {max-width:100%;
border-radius:6px 6px 0 0;
}

#videos .entry .c-img:before {
  content:'';
  display:block;
  width:96px;
  height:96px;
  position:absolute;
  top:50%;
  left:50%;
  background-color: rgba(230, 96, 0,0);
  border-radius: 50%;
  transform: translate(-50%,-50%);
  transition:all .25s ease-in-out;
  border:2px solid rgba(255,255,255,0.75);
  box-shadow:0 3px 6px rgba(0,0,0,0.35)
}
#videos .entry .c-img:after {
  content:'';
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  border-style:solid;
  border-width:24px 0 24px 24px;
  border-color:transparent transparent transparent rgba(255,255,255,0.75);
  transform:translate(-30%,-50%);
  transition:all .25s ease-in-out
}

#videos .entry a:hover .c-img:before {background-color:rgba(255,255,255,1);

  width:128px;
  height:128px;
}
#videos .entry a:hover .c-img:after  {

   border-color:transparent transparent transparent rgba(230, 96, 0,1);
    border-width:24px 0 24px 32px;


}



#videos .entry .c-comment {
  font-weight:300;font-size:.75rem;
  display:none;
}
#videos .entry .c-titr {
  text-align:center;
  font-weight:400;
  line-height:1.3em;
  min-height:1.3em;
  padding:.5em 0;

}
